@media (max-width: 1200px)
    .container
        max-width: 960px
    .btn
        width: 150px
        height: 40px
    .one
        &__nav
            ul
                margin-left: 20px
                a
                    margin-right: 9px
                    font-size: 14px
        &__tel
            margin-left: 20px
            &_phone
                font-size: 16px
        &__benefits
            column-gap: 12px

    .benefits
        &__block
            gap: 25px 40px

    .agent__descr
        width: 820px
@media (max-width: 992px)
    .container
        max-width: 720px
    .one
        &__nav
            display: none
        &__tel
            margin-left: 220px
        &__h2
            font-size: 19px
        &__h1
            margin-top: 14px
            font-size: 48px
        &__title
            font-size: 28px
            margin-top: 0
        &__line
            width: 630px
            margin-top: 30px
            &_one
                width: 290px
        &__benefits
            &_descr
                font-size: 14px
        &__hamburger
            display: block
    .benefits
        &__h2
            font-size: 22px
        &__block
            gap: 25px 40px
            span
                font-size: 12px
            &_descr
                font-size: 12px

    .three
        &__h2
            font-size: 22px
        &__title
            width: 680px
        &__subblock_title h3 
            margin-top: 10px
    .agent__descr
        width: 620px
        margin-top: 18px
        font-size: 16px
    .consultation
        &__form
            grid-template-columns: 265px
            grid-template-rows: repeat(3, 46px)
            row-gap: 10px
    .questions
        &__block
            width: 90%
        &__form
            min-height: 330px
            grid-template-columns: 268px
            grid-template-rows: 45px 45px 45px 73px
            .name
                grid-area: 1/1/2/2
            .phone
                grid-area: 2/1/3/2
            .poshta
                grid-area: 3/1/4/2
            .meseng
                resize: none
                grid-area: 4/1/5/1 


@media (max-width: 768px)
    .container
        max-width: 560px
    .one
        min-height: 600px
        header
            display: none
        &__h2
            font-size: 14px
        &__h1
            font-size: 34px
            margin-top: 0
        &__title
            font-size: 20px
            line-height: 27px
        &__line
            width: 410px
            margin-top: 30px
            &_one
                width: 180px
        &__benefits
            grid-template-columns: 100%
            column-gap: 12px
            &_item
                width: 250px
                margin: 0 auto
            &_descr
                font-size: 14px
    .benefits
        &__block
            grid-template-columns: 100%
            gap: 25px 0
            span
                font-size: 12px
            &_descr
                font-size: 12px
    
    .three
        &__h2
            font-size: 20px
        &__title
            width: 500px
            font-size: 14px
            line-height: 20px
        &__block
            margin-top: 20px

    .agent
        padding: 25px 15px 40px 15px
        &__h2
            font-size: 24px
        &__descr
            width: 100%
            margin-top: 15px
            font-size: 14px
            line-height: 18px
    .consultation
        padding: 40px 0 60px 0
        &__h2
            font-size: 20px
        &__form
            width: 95%
            margin: 0 auto
            margin-top: 60px
    .manager
        &__h2
            font-size: 22px
            margin-top: 15px
        &__title
            margin-top: 12px
            font-size: 14px
            line-height: 20px


@media (max-width: 576px)
    .container
        max-width: 100%
    .one
        padding: 23px 0 42px 0
        &__h2
            margin-top: 25px
        &__h1
            font-size: 20px
            line-height: 40px
        &__line
                width: 250px
                margin-top: 30px
                &_one
                    width: 180px
        &__title
            line-height: 20px
        &__benefits
            grid-template-rows: minmax(100px, auto) minmax(100px, auto) minmax(100px, auto) minmax(100px, auto)
            row-gap: 15px
            &_descr
                margin-top: 0
                line-height: 16px
        &__btn    
            width: 180px
            height: 45px
            margin-top: 25px
            font-weight: 700
            line-height: 47px
    .benefits
        padding: 35px 15px 30px 15px
        &__h2
            font-size: 16px
    .three
        padding: 20px 15px 20px 15px
        &__h2
            font-size: 20px
        &__title
            width: 100%
            font-size: 12px
        &__block
            grid-template-columns: repeat(auto-fit, 290px)
            margin-top: 20px
    .price
        padding-top: 30px
        &__h2
            font-size: 18px
        &__title
            font-size: 14px
            line-height: 20px
        &__block
            margin-top: 20px
    .manager
        &__h2
            margin-top: 12px

        &__title
            margin-top: 9px
            font-size: 12px
            line-height: 15px
    .questions
        padding: 30px 0 50px 0